<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
<h1>
    Signup for a new account
</h1>
<form th:action="@{/signup}" method="post" th:object="${user}">
    <label th:text="username"></label>
    <input th:field="*{username}" />

    <label th:text="password"></label>
    <input th:field="*{password}" />

    <label th:text="passwordConfirmation"></label>
    <input th:field="*{passwordConfirmation}" />
    <td th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}">Password Confirmation Error</td>

    <div th:text="${#fields.hasErrors('Fields must match')}"></div>
    <button type="submit">Submit</button>
</form>

</body>
</html>